@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 2rem;
    --space-8: 2.5rem;
    --space-9: 3rem;
    --space-10: 4rem;
    --space-11: 4.5rem;
    --space-12: 5rem;
    --space-13: 6rem;
    --space-14: 7rem;
    --space-15: 8rem;
    --space-16: 9rem;
    --space-17: 10rem;
    --space-18: 12rem;
    --space-19: 12.5rem;
    --space-20: 15rem;

    /* Fonts */
    --text-xl: 5rem;
    --text-lg: 3.75rem;
    --text-h1: 2.5rem;
    --text-h2: 2rem;
    --text-h3: 1.75rem;
    --text-h4: 1.5rem;
    --text-h5: 1.25rem;
    --text-h6: 1rem;
    --text-p: 1rem;
    --text-small: 0.875rem;

    --font-weight-bold: 700;
    --font-weight-medium: 500;
    --font-weight-regular: 400;

    /* Colors */
    --color-white: #ffffff;
    --color-dark-blue: #1f2226;
    --color-gray: #373737;
    --color-gray-100: #f5f5f5;
    --color-gray-200: #e5e5e5;
    --color-gray-300: #c4c4c4;
    --color-gray-400: #99a1af;
    --color-gray-500: #696d76;
    --color-gray-600: #51545b;
    --color-black: #121212;

    --color-primary: #659cf6;
    --color-primary-dark: #2962b1;

    --color-info: rgba(101, 156, 246, 0.47);
    --color-success: rgba(0, 230, 118, 0.47);
    --color-warning: rgba(255, 143, 0, 0.47);
    --color-error: rgba(255, 61, 61, 0.47);
    --color-info-dark: #659cf6;
    --color-success-dark: #00e676;
    --color-warning-dark: #ff8f00;
    --color-error-dark: #ff3d3d;

    --background-color: #0d0914;
    --paragraph-color: #a4a5b6;
    
    --link-color: #a3a3a3;
    --link-color-hover: #e0e0e0;

    --will-change-override: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(13, 9, 20);
    color: var(--paragraph-color);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.667em;
    margin: 0;
}

main {
    padding-top: 120px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
}

/* Navigation */
.nav-logo-section span,
.footer-content-logo span {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Utils */
.z-back {
    z-index: -1;
}

/* Container */
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: var(--space-4);
    padding-right: var(--space-4);
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space-4);
    padding-right: var(--space-4);
}


/* Components */
.image-comparison {
    position: relative;

    .image-comparison-wrapper {
        position: relative;
        margin-bottom: var(--space-7);

        z-index: 2;
    }
}

.parallax-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    z-index: 2;

    .wrapper-a, .wrapper-b {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;

        .col-a, .col-b, .col-c, .col-d {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-7);
        }

        .col-a, .col-d {
            filter: blur(2px);
        }
    }

    .item {
        width: 250px;
        height: 250px;
        margin: 5px;

        img {
            border-radius: 16px;
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
        }
    }
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-8);
    margin-top: var(--space-16);
    height: 412px;
    z-index: 1;

    .hero-section__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--space-5);

        .text-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: var(--space-3);
        }
      
        .title {
            font-size: var(--text-h1);
            font-weight: bold;
            line-height: 1;
            letter-spacing: -0.0083333333em;
            transition: opacity 0.1s;
            color: var(--color-white);
        
            font-feature-settings: "liga" 1, "calt" 1;
        }

        .body-text__wrapper {
            display: flex;
            flex-direction: row;
            gap: var(--space-5);
            position: relative;

            .body-text {
                font-size: var(--text-h2);
                font-weight: 400;
                line-height: 1.05;
                letter-spacing: normal;
                margin: 0;
                transition: opacity 0.1s;
            }
        }
      
        .location {
            display: flex;
            align-items: center;
            gap: var(--space-3);
            font-size: 1rem;

            margin: var(--space-5) 0;
        
            span {
                white-space: nowrap;
            }
        }
    }
}

.grid-images {
    display: block;
    height: auto;
    width: 100%;
    aspect-ratio: 4/5;

    border-radius: var(--space-4);
}

.overlay-card-text {
    position: absolute;
    left: calc(66% - 708px / 2);
    top:calc(85% - 286px / 2);
    overflow: visible;
    width: 708px;
    height: 286px;
    z-index: 1;
}

.overlay-card-text .cursor {
    height: 116px;
    left: 0;
    position: absolute;
    top: 0;
    width: 116px;
}

.overlay-card-text .content {
    display: flex;
    align-items: start;
    border-radius: var(--space-4);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: var(--space-4);
    position: absolute;
    bottom: 2px;
    will-change: var(--will-change-override, transform);
}

.overlay-card-text .content .text {
    font-size: 1.25rem !important;
    color: var(--color-gray-300);
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0073529412em !important;
    font-family: "Roboto", sans-serif;
    text-transform: none !important;
}

.tech-stack {
    z-index: 1;
}

/* Footer */
footer {
    width: 100%;
    height: 50vh;
    background: linear-gradient(to bottom, rgb(13, 9, 20), rgba(26, 12, 49, 1));
    overflow: hidden;
    position: relative;

    .wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        max-width: 1240px;

        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;

        gap: var(--space-14);

        z-index: 2;

        .upper-footer-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: start;
            gap: var(--space-6);
            
            padding: 0 var(--space-5);

            .footer-content-logo, .footer-content-social {
                flex-basis: 25%;
            }

            .footer-content-logo {
                color: var(--color-gray-500);

                .quote {
                    font-size: var(--text-h5);
                }

                .quote__name {
                    font-size: var(--text-h6);
                }
            }

            .footer-content-nav {
                flex-basis: 25%;

                display: flex;
                flex-direction: column;
                gap: var(--space-4);
            }
        }

        .lower-footer-section {
            font-size: small;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .footer-content-text {
                p {
                    color: var(--color-gray-400);
                    text-align: center;

                    transition: color 1s ease-in-out;
                }
            }

            .footer-content-social {
                display: flex;
                gap: var(--space-4);
                align-items: center;
                justify-content: end;
            }
            
        }
    }

    .footer-overlay {
        place-content: flex-start center;
        align-items: flex-start;
        inset: -20px;
        display: flex;
        flex: 0 0 auto;
        flex-flow: row;
        gap: 10px;
        overflow: visible;
        padding: 50px 0px 0px;
        pointer-events: none;
        position: absolute;
        z-index: 1;
    }
}

/* Pages */
.homepage {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: var(--space-10)
}

@media only screen and (max-width: 768px) {
    footer {
        .wrapper {
            .lower-footer-section {
                margin-bottom: var(--space-5);
            }
        }
    }
    .overlay-card-text {
        height: 294px;
        left: calc(50% - 390px / 2);
        top:calc(78% - 294px / 2);
        overflow: visible;
        
    }

    .overlay-card-text .content .text {
        font-size: 1.25rem !important;
        line-height: 1.75rem;
    }
    
    .tech-stack {
        width: 100%;
    }
}

@media only screen and (max-width: 980px) {
    .overlay-card-text {
        left: calc(50% - 100% / 2);
        top:calc(80% - 294px / 2);
        width: 100%;
    }

    .overlay-card-text .content {
        bottom: unset;
        top: 90%;
        transform: translateY(-50%);
        width: 100%;
    }

    .hero-section {
        .title {
            font-size: 2.25em;
            line-height: 1.2;
            font-weight: bold;
            text-align: center;
        }
    
        .body-text {
            font-size: 1.75em;
            line-height: 1.2;
            text-align: center;
        }
    
        #hero_section__body {
            i {
                position: absolute;
                font-size: var(--text-xl);
                top: -70px;
                left: -40px;
                z-index: -1;
                opacity: 0.25;
            }
        }
    }

    footer {
        height: 100vh;

        .wrapper {
            .upper-footer-section {
                flex-direction: column;
                gap: var(--space-4);

                .footer-content-logo, .footer-content-social {
                    flex-basis: 100%;
                }

                .footer-content-nav {
                    flex-basis: 100%;
                }

                .footer-content-quote {
                    flex-basis: 100%;

                    display: none;

                    p {
                        font-size: var(--text-h5);
                    }
                }

                .footer-content-social {
                    justify-content: center;
                }
            }

            .lower-footer-section {
                flex-direction: column;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    footer {
        height: 80vh;

        .upper-footer-section {
            .footer-content-quote {
                p {
                    font-size: var(--text-h5);
                }
            }
        }
    }
}