:root {
    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-3: 0.75rem;
    --space-4: 1rem;
    --space-5: 1.25rem;
    --space-6: 1.5rem;
    --space-7: 2rem;
    --space-8: 2.5rem;
    --space-9: 3rem;
    --space-10: 4rem;
    --space-11: 4.5rem;
    --space-12: 5rem;
    --space-13: 6rem;
    --space-14: 7rem;
    --space-15: 8rem;
    --space-16: 9rem;
    --space-17: 10rem;
    --space-18: 12rem;
    --space-19: 12.5rem;
    --space-20: 15rem;

    /* Colors */
    --color-gray: #373737;

    --will-change-override: none;
}

html {
    scroll-behavior: smooth;
}

.grid-images {
    display: block;
    height: auto;
    width: 100%;
    aspect-ratio: 4/5;

    border-radius: var(--space-4);
}

.card-text {
    position: absolute;
    left: calc(66% - 708px / 2);
    top:calc(85% - 286px / 2);
    overflow: visible;
    width: 708px;
    height: 286px;
    z-index: 1;
}

.card-text .cursor {
    height: 116px;
    left: 0;
    position: absolute;
    top: 0;
    width: 116px;
}

.card-text .content {
    display: flex;
    align-items: center;
    background-color: #171717cf;
    backdrop-filter: blur(10px);
    border-radius: var(--space-4);
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:var(--space-12);
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: var(--space-4);
    position: absolute;
    bottom: 2px;
    will-change: var(--will-change-override, transform);
}

.card-text .content .text {
    font-size: 1.5rem !important;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.0073529412em !important;
    font-family: "Roboto", sans-serif;
    text-transform: none !important;
}

@media only screen and (max-width: 768px) {
    .card-text {
        height: 294px;
        left: calc(50% - 390px / 2);
        top:calc(78% - 294px / 2);
        overflow: visible;
        
    }

    .card-text .content .text {
        font-size: 1.25rem !important;
        line-height: 1.75rem;
    }
}

@media only screen and (max-width: 980px) {
    .card-text {
        left: calc(50% - 100% / 2);
        top:calc(80% - 294px / 2);
        width: 100%;
    }

    .card-text .cursor {
        display: none;
    }

    .card-text .content {
        bottom: unset;
        top: 90%;
        transform: translateY(-50%);
        width: 100%;
    }
}